[submodule "git-github/kanugoyal/Resume"]
    path = git-github/kanugoyal/Resume
    url = https://github.com/git-github/kanugoyal/Resume.git

    [submodule "git-github/sushantPractice/practise"]
    path = git-github/sushantPractice/practise
    url = https://github.com/git-github/sushantPractice/practise.git

