[submodule "git-github/kanugoyal/Resume"]
    path = git-github/kanugoyal/Resume
    url = https://github.com/kanugoyal/Resume

    [submodule "github.com/SushantAmin17/practise"]
    path = github.com/SushantAmin17/practise
    url = https://github.com/SushantAmin17/practise

